---

---

<!-- <div class="divider"></div> -->
<footer class="footer footer-center p-4 bg-inherit text-base-content mt-auto">
  <aside>
    <p>Copyright © 2023 Downing College JCR</p>
  </aside>
</footer>
